*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr; 
  align-items: flex-end;
  gap: 30px;
  margin: auto;
  padding: 0 30px;
}

.title {
  font-family: 'Oswald', sans-serif; 
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 26px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  padding: 2px 0;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card {
  display: flex;
  flex-wrap: nowrap;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  overflow: hidden;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: 2px underline;
  text-underline-offset: 2px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: 1px underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: 0;
}
.content__card-link:focus-visible {
  outline-color: inherit;
  outline-style: solid;
  outline-width: 1px;
}

.content__video-card-title {
  width: 100%;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; 
  line-height: 100%; 
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__card-link_current {
  background-color: #545050;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  font-size: 0;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

/*--------------Forms-------------------*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  min-height: 34px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  text-decoration: 0;
  background-color: #545050;
}

.button:focus-visible {
  outline-color: inherit;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 1px;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  border-width: 1px;
  border-style: solid;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
  appearance: none;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  border-right-color: inherit;
  border-left-color: inherit;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 1px;
}

.search-form__pseudo-checkbox {
  display: block;
  display: flex;
  width: 19px;
  height: 19px;
  border-width: 1px;
  border-style: solid;
}

.search-form__pseudo-checkbox::after {
  content: '';
  visibility: hidden;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  visibility: visible;
}

.more-button {
  flex-shrink: 0;
}